{% extends 'index.html' %}

{% block main %}
  <div class="container" style="margin-top:180px;margin-bottom:160px;">
    <h2 class="text-center">Registration</h2>
    <form method="post" action="{% url 'register' %}" class="mx-auto" style="max-width: 300px;">
      {% csrf_token %}

      <!-- Bootstrap классы для стилей формы -->
      <div class="mb-3">
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>

      <div class="mb-3">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>

      <div class="mb-3">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
      </div>

      <div class="mb-3">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
      </div>

      <button type="submit" class="btn btn-primary" style="height:30px; width:auto;">Register</button>
    </form>
  </div>
{% endblock %}